body {
    height: 100vh;
    background-color: black;
}

.section-1 {
    padding-right: 4em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#bubble-viz {
    margin: 0;
    width: 800px;
    height: 700px;
}

.bubble-svg {
}

.circle-click {
    stroke: white;
}

#map-viz {
    width: 800px;
    height: 800px;
    margin-bottom: 15vh;
    position: relative;
}

.map-title {
    color: white;
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0;
    text-align: center;
}