body {
    height: 100vh;
    background-color: lightblue;
}

.section-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.sub-section-right {
    height: 98vh;
    border-left: 1px solid black;
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

#bubble-viz {
    margin: 0;
    width: 100%;
}

.bubble-svg {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0 2em;
}

.circle-click {
    stroke: white;
}

.map-together {
    display: flex;
    flex-direction: column;
}

#map-viz {
    height: 100%;
    /* padding: 1em; */
    position: relative;
}

.map-title {
    color: black;
    margin: 0;
    bottom: 1em;
    font-size: 0.75em;
    text-align: center;
}


#line-viz {
    height: 50%;
}

.lineSVG {
    padding: 1em 2em;
}
