body {
    background-color: #111;
}

.section-1 {
    display: flex;
}

#bubble-viz {
    margin: 0;
    width: 800px;
    height: 700px;
}

.bubble-svg {
}

.circle-click {
    stroke: white;
}

#map-viz {
    width: 800px;
    height: 700px;
}